
<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <!-- <h3>Contact</h3>
             <div class="contact-info">
                <p><i class="fas fa-map-marker-alt"></i> Tirunelveli-bypaa, Tiruwc,<br> Tamilnadu, 641607</p>
                <p><i class="fas fa-phone"></i> +91 6056817108</p>
                <p><i class="fas fa-envelope"></i> carekhana@gmail.com</p>
            </div> --> 
        </div>

        <div class="footer-section">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Specialities</h3>
            <ul>
                <li><a href="details/one/">Anesthesiology</a></li>
                <li><a href="#">Radiology</a></li>
                <li><a href="#">General surgery</a></li>
                <li><a href="#">Family medicine</a></li>
                <li><a href="#">Pediatrics</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Services</h3>
            <ul>
                <li><a href="#">Medical</a></li>
                <li><a href="#">Operation</a></li>
                <li><a href="#">Laboratory</a></li>
                <li><a href="#">ICU</a></li>
                <li><a href="#">Patient Ward</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Social Media</h3>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2025 GKPO DOC. All rights reserved.</p>
        <div class="footer-links">
            <ahref="#">Terms and Conditions</a>
            <ahref="#">Privacy Policy</a>
        </div>
    </div>
</footer>