<header>
    <div class="logo" id="na" onclick="na()">M</div>
    <nav>
        <ul>
            <li><a href="/details/"  class="fa">HOME</a></li>
            <li > <a href="#" class="fa">MEDICINES</a></li>
            <li><a href="#"  class="fa">WELL</a></li>
            <li ><a href="# " class="fa">HEALTH</a></li>
        </ul>
    </nav><hr>
    
    <div class="header-right">
        <i class="fa fa-search"></i>
        <i class="fa fa-shopping-cart"></i>
        <i class="fa fa-user"></i>
    </div>
</header>
<hr>